<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>owners</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="guru.springframework.sfgpetclinic.model.Owner"*/-->
<h2 th:text="'owners index'">index</h2>

<table class="table table-stripped">
    <tr th:each="owner : ${owners}">
        <td th:text="${owner?.firstName}"></td>
        <td th:text="${owner?.lastName}"></td>
    </tr>
</table>

</body>
</html>
